/*global stuff*/
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color:black;
	font-weight: 800;
}

h1,a,p,div{
	font-family: 'Open Sans', sans-serif;
}


/*
	Chart stuff
*/
#anglechart svg {
  height: 400px;
  width:1200px;
}
#anglechart img{
	margin: 0px 12.6px;
	width: 30px;
	height: 30px;
	display: relative;
}

#footchart svg{
   height: 400px;
}

#visualisation{
	width: auto;
}

/*
	Main CSS stuff
*/
#header {
	background-color: #6cc9c9;
	padding: 20px;
}
#header h1{
	color: white;
	font-weight: 400;
}

#title h1{
	color: #6cc9c9;
	text-align: center;
}

#chart2{
	height: 500px;
}

#downloadAngle{
	border: 4px solid #6cc9c9;
}

/*Profile stuff*/
#profile{
	text-align: center;
	/*float: right;*/
	border: 12px solid #288E8E;
}

#profilepic{
	border-radius: 100%;
}
#profiletitle{
	font-weight: bold;

}
#map{
	/*float: right;
*/}