/*
	Chart stuff
*/
#anglechart svg {
  height: 400px;
  width:1200px;
}
#anglechart img{
	margin: 0px 12.6px;
	width: 30px;
	height: 30px;
	display: relative;
}

#footchart svg{
   height: 400px;
   width:1200px;
}

#visualisation{
	width: auto;
}

/*
	Main CSS stuff
*/
#header {
	background-color: #6cc9c9;
	padding: 20px;
}
#header h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 800;
}

#title h1{
	font-family: 'Open Sans', sans-serif;
	color: #6cc9c9;
	text-align: center;
}

#chart2{
	height: 500px;
}